<app-pharmacyheader></app-pharmacyheader>
<div class="container-fluid">
    <div class="row">
            <app-pharmacyleftmenu [ph]="this"></app-pharmacyleftmenu>            
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">                
                <div class="box">
                    <div>
                    <h2>Information über Apotheke {{pharmacy.Kundennummer}}</h2>
                    <table class="table table-sm">
                        <h3>{{errorMsg}}</h3>
                        <tr>
                        <td>Apothekenname:</td>
                        <td >{{pharmacy.ApothekenName}}</td>  
                      
                            <td style="padding-left: 120px;">Ort:</td>
                            <td >{{pharmacy.Ort}}</td>
                        </tr>
                        <tr >
                                <td>Telefonnummer:</td>
                                <td >{{pharmacy.Telefonnummer}}</td>
                       
                            <td style="padding-left: 120px;">Postleitzahl:</td>
                            <td >{{pharmacy.Postleitzahl}}</td>
                        </tr>
                        <tr >
                            <td>Faxnummer:</td>
                            <td >{{pharmacy.Faxnummer}}</td>
                       
                            <td style="padding-left: 120px;">IDFNummer:</td>
                            <td >{{pharmacy.IDFNummer}}</td>
                        </tr>
                        <tr >
                            <td>Straße:</td>
                            <td >{{pharmacy.Strasse}}</td>
                      
                            <td style="padding-left: 120px;">EMail:</td>
                            <td >{{pharmacy.EMail}}</td>
                        </tr>
                        <tr >
                            <td>Apotheker:</td>
                            <td >{{pharmacy.Vorname}} {{pharmacy.Nachname}}</td>
                     
                            <td style="padding-left: 120px;">Betriebsstätte:</td>
                            <td >{{pharmacy.Betriebsstaette}}</td>
                        </tr>
                        <tr >
                            <td>Geburtsdatum:</td>
                            <td >{{pharmacy.Geburtsdatum.substring(0, 10)}}</td>
                        
                            <td style="padding-left: 120px;">Gebietsleiter:</td>
                            <td >{{pharmacy.Gebietsleiter}}</td>
                        </tr>
                    </table>
                    </div>
                    <div *ngIf="show==0">
                        <h2>Bestellungen</h2>
                        <table class="table table-striped table-sm" *ngIf="orders.length>0; else shownoorder" >
                            <thead>
                                <tr>
                                    <th >ID</th>
                                    <th >Status</th>
                                    <th >Datum der Bestellung</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of this.orders" (click)="getOrderdetail(order.OrderID)" class="trlikelink">
                                    <td>
                                        {{order.OrderID}}
                                    </td>
                                    <td >
                                        {{order.StateName}}
                                    </td>    
                                    <td >
                                        {{order.OrderDate}}
                                    </td>    
                                </tr>
                            </tbody>
                        </table>
                        <ng-template #shownoorder>
                                <label>keine Bestellung</label>
                        </ng-template>
                    </div>
                    <div *ngIf="show==1" class="changeCustomerNumberDiv">
                            <h2>Kundennummer ändern</h2>
                            <div class="form-group">
                                <label for="uname1">Alte Nummer</label>
                                <input type="text" class="form-control rounded-0" [(ngModel)]="OldValue" name="oldnumber" required>
                            </div>
                            <div class="form-group">
                                <label>Neue Nummer</label>
                                <input type="text" class="form-control rounded-0" [(ngModel)]="NewValue" name="newnumber" required>
                            </div>
                                                     
                            <button type="button" (click)="saveToDatabase()" class="btn btn-success float-right">Speichern</button>
                            <button type="button" (click)="cancelChange()" class="btn btn-success float-right" style="margin-right:10px;">Abbrechen</button>   
                    </div>
                    <div *ngIf="show==2" class="changeCustomerNumberDiv">
                        <!-- <h2>Anfragen  <button type="button" (click)="newRequest()" class="btn btn-success float-right" style="margin-right:10px;">Neue Anfrage</button> </h2> -->
                        <h2 style="margin-bottom:1rem;">
                            Anfragen                            
                            <a  class="linklikebutton" [routerLink]="['/customerrequest',pharmacy.Kundennummer]" target="_blank">Neue Anfrage</a>
                            <button type="button" (click)="cancelChange()" class="btn btn-success float-right" style="margin-left:10px;margin-top:8px;">Bestellungen Zeigen</button>   
                        </h2>
                        <table *ngIf="requests.length>0; else showlabel" class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th >Bearbeiter</th>
                                    <th >Datum</th>
                                    <th >Thema</th>
                                    <th >Empfang durch</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="trlikelink" *ngFor="let rq of this.requests | orderBy: RequestID : true" (click)="showRequest(rq.RequestID)">
                                    <td >
                                        {{rq.CreatorFirstName}} {{rq.CreatorLastName}}
                                    </td>
                                    <td >
                                        {{rq.DateReceived}}
                                    </td>    
                                    <td >
                                        {{rq.RequestType}}
                                    </td>
                                    <td >
                                        {{rq.ContactMediumType}}
                                    </td>    
                                </tr>
                            
                            </tbody>
                        </table>
                        <ng-template #showlabel>
                                <label>keine Anfrage</label>
                        </ng-template>
                    </div>
                    <div *ngIf="show==3" class="changeCustomerNumberDiv">
                        <h2>Information über Bestellung {{order.OrderID}}</h2>
                        <table  class="table table-sm">
                        <h3>{{errorMsg}}</h3>
                        <tr>
                        <td >Status: </td>
                        <td >{{order.StateName}}</td>  
                        </tr>
                        <tr >
                            <td >Bestellt am: </td>
                            <td >{{order.OrderDate}}</td>
                        </tr>
                        <tr >
                            <td >Bestellt von: </td>
                            <td >{{order.Aponame}}</td>
                        </tr>
                        </table>
                        <h2>Artikel</h2>
                        <table class="table table-striped table-sm">
                            <thead>
                            <tr>
                                <th >Artikelname</th>
                                <th >Menge</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of orderitems">
                                <td >
                                    {{item.ProductName}}
                                </td>
                                <td >
                                    {{item.Quantity}}
                                </td>       
                            </tr>
                            </tbody>
                            <button type="button" (click)="cancelChange()" class="btn btn-success float-right" style="margin-right:-100px;margin-top: 20px;">Zurück</button>   
                        </table>                        
                    </div>
                </div>
            </main>
    </div>
</div>

