

<h2>Information der Apotheke {{pharmacy.Kundennummer}}</h2>
<h3>{{errorMsg}}</h3>
<div  class="box">
    <tr><a [routerLink]="['/changecustomernumber',pharmacy.Kundennummer]">Kundennummer  aktualisieren</a></tr>
</div>
<div class="box">
<tr>
  <td>Name:</td>
  <td >{{pharmacy.ApothekenName}}</td>  
</tr>
<tr >
    <td>Ort:</td>
    <td >{{pharmacy.Ort}}</td>
</tr>
<tr >
    <td>Gebietsleiter:</td>
    <td >{{pharmacy.Gebietsleiter}}</td>
</tr>
<h2>Bestellungen</h2>
<tr>
    <td>ID</td>
    <td>Status</td>
    <td>Datum der Bestellung</td>
  </tr>
<tr *ngFor="let order of orders">
    <td >
        <a [routerLink]="['/orderinfo', order.OrderID]">{{order.OrderID}}</a>
    </td>
    <td >
        {{order.StateName}}
    </td>    
    <td >
        {{order.OrderDate}}
    </td>    
  </tr>
</div>
