.trlikelink:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.linklikebutton{
    font: bold 1rem Arial;
    font-weight: 400;
    text-decoration: none;
    background-color: #28a745;
    border-color: #28a745;
    padding:.63rem .75rem; 
    color: #fff;
    border-radius: .25rem;
    margin-left:24rem;
}

.linklikebutton:hover{   
    background-color: #218838;
    border-color: #1e7e34;
}