<div  class="box" id="leftmenu">
    <tr><a [routerLink]="['/searchpharmacy']">Kunden suchen</a></tr>
</div>
<div  class="box" >

<h2>Information der Bestellung {{order.OrderID}}</h2>
<h3>{{errorMsg}}</h3>
<tr>
  <td class="tdsearchapo">Status:</td>
  <td class="tdsearchapo">{{order.StateName}}</td>  
</tr>
<tr >
    <td class="tdsearchapo">Bestellt am:</td>
    <td class="tdsearchapo">{{order.OrderDate}}</td>
</tr>
<tr >
    <td class="tdsearchapo">Bestellt von:</td>
    <td class="tdsearchapo">{{order.Aponame}}</td>
</tr>
<h2>Artikel</h2>
<tr>
    <td class="tdsearchapo">Artikelname</td>
    <td class="tdsearchapo">Menge</td>
  </tr>
<tr *ngFor="let item of orderitems">
    <td class="tdsearchapo">
        {{item.ProductName}}
    </td>
    <td class="tdsearchapo">
        {{item.Quantity}}
    </td>       
  </tr>
</div>