<app-pharmacyheader></app-pharmacyheader>
<div class="container-fluid">
    <div class="row">
      <app-pharmacyleftmenu></app-pharmacyleftmenu>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        
        <div  class="box" >



        <h2>Information über Bestellung {{order.OrderID}}</h2>
        <table  class="table table-sm">
        <h3>{{errorMsg}}</h3>
        <tr>
          <td >Status: </td>
          <td >{{order.StateName}}</td>  
        </tr>
        <tr >
            <td >Bestellt am: </td>
            <td >{{order.OrderDate}}</td>
        </tr>
        <tr >
            <td >Bestellt von: </td>
            <td >{{order.Aponame}}</td>
        </tr>
        </table>
        <h2>Artikel</h2>
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th >Artikelname</th>
                <th >Menge</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of orderitems">
                <td >
                    {{item.ProductName}}
                </td>
                <td >
                    {{item.Quantity}}
                </td>       
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>  
</div>