<app-pharmacyheader></app-pharmacyheader>
<div class="container-fluid">
    <div class="row">
        <app-pharmacyleftmenu></app-pharmacyleftmenu>        
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">   
            <div class="box">
                <h2 >Neue Anfrage von Apotheke {{customerNumber}}</h2> 
                <div *ngIf="hint!=''" style="text-align: center;">
                    <label [ngStyle]="{'color': hint.startsWith('Bitte') ? 'red' : 'black'}">{{hint}}</label>
                </div>
                <div class="card-body">
                    <div style="margin-bottom: 120px;" contentEditable="false">
                        <div class="row">                      
                            <label class="labelsearch">Kontaktmedium: </label>                                     
                            <select [attr.disabled]="saved ||cr.RequestID>0 ? '' : null" [(ngModel)]="cr.ContactMediumTypeID" [ngStyle]="{'border-color': hint.startsWith('Bitte') && cr.ContactMediumTypeID=='0' ? 'red' : ''}">                                      
                                <option value="1">Telefon Landline</option>
                                <option value="2">Mobiltelefon</option>
                                <option value="3">Telefax</option>
                                <option value="4">Email</option>
                                <option value="5">Webseite</option>
                                <option value="6">Zusätzliche Webseite</option>
                                <option value="7">Kundenmail</option>
                            </select>
                        </div>
                        <div class="row">  
                            <label class="labelsearch">Thema: </label>                                                   
                            <select [attr.disabled]="saved ||cr.RequestID>0 ? '' : null" [(ngModel)]="cr.RequestTypeID" [ngStyle]="{'border-color': hint.startsWith('Bitte') && cr.RequestTypeID=='0' ? 'red' : ''}">                                  
                                <option value="1">Abrechnung</option>
                                <option value="2">Auftrag</option>
                                <option value="3">Stammdaten</option>
                                <option value="4">Lieferung</option>
                                <option value="5">Informationsbedarf</option>
                                <option value="6">Sonstige</option>
                            </select>
                        </div> 
                        <div >  
                            <label>Inhalt: </label>
                        </div>
                        <div class="row"> 
                            <textarea [attr.disabled]="saved ||cr.RequestID>0 ? '' : null"  [(ngModel)]="cr.Content" [ngStyle]="{'border-color': hint.startsWith('Bitte') && (cr.Content==null || cr.Content=='') ? 'red' : ''}">                                            
                            </textarea> 
                        </div>
                        <div>  
                            <button type="button" (click)="saveToDatabase()" class="btn btn-success float-right" [attr.disabled]="saved ||cr.RequestID>0 ? '' : null"  >Speichern</button>                        
                            <button *ngIf="cr.RequestID>0" type="button" (click)="backClicked()" class="btn btn-success float-right" style="margin-right:10px;">Zurück</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

