<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor"></span>

      <!-- form card login -->
      <div class="card rounded-0 searchapo">
        <div class="card-header">
          <h3 class="mb-0">Bestellungen vom Kunde</h3>
        </div>
        <div class="card-body">
          <form class="form">
            <div class="form-group">
              <label>Kundennummer</label>
              <input type="text" class="form-control rounded-0" [(ngModel)]="pharmacy.Kundennummer" name="customernumber" >
            </div>
            <div class="form-group">
              <label>Apothekename</label>
              <input type="text" class="form-control rounded-0" [(ngModel)]="pharmacy.ApothekenName" name="pharmacyname" >              
            </div>
            <div class="form-group">
                <label>Ort</label>
                <input type="text" class="form-control rounded-0" [(ngModel)]="pharmacy.Ort" name="city" >              
              </div>
              <div class="form-group">
                  <label>PLZ</label>
                  <input type="text" class="form-control rounded-0" [(ngModel)]="pharmacy.Postleitzahl" name="PostalCode" >              
                </div>
            <div>
                <button type="button" (click)="searchPharmacy()" class="btn btn-success float-right">Suche</button>
            </div>
            <div *ngIf="pharmacies.length > 0">
              <h2>Gefundene Apotheken</h2>
                  <h3>{{errorMsg}}</h3>
                  <tr>                    
                    <td class="tdsearchapo">Kundennummer</td>
                    <td class="tdsearchapo">Apotheke</td>
                    <td class="tdsearchapo">Apotheker</td>
                    <td class="tdsearchapo">Straße</td>
                    <td class="tdsearchapo">Ort</td>
                    <td class="tdsearchapo">PLZ</td>
                    <td class="tdsearchapo">Haus</td>
                  </tr>
                  <tr *ngFor="let ph of pharmacies">
                      <td class="tdsearchapo" >
                          <a [routerLink]="['/pharmacyinfo', ph.Kundennummer]">{{ph.Kundennummer}}</a>
                      </td>                     
                      <td class="tdsearchapo" >
                          {{ph.ApothekenName}}
                      </td>
                      <td class="tdsearchapo" >
                          {{ph.Gebietsleiter}}
                      </td>
                      <td class="tdsearchapo" >
                          {{ph.Strasse}}
                      </td>
                      <td class="tdsearchapo" >
                          {{ph.Ort}}
                      </td>
                      <td class="tdsearchapo" >
                          {{ph.Postleitzahl}}
                      </td>
                      <td class="tdsearchapo" >
                          {{ph.Betriebsstaette}}
                      </td> 
                    </tr>
            </div>
           
          </form>
        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->
    </div>
  </div>
</div>